body{
	overflow:hidden;
}

body.aftenoon{
 background-image:url(../img/backgr_afternoon.png);
 background-repeat : no-repeat;
 background-color : #C0B194;
 background-position : center top ;
 background-size : 75%;
}

body.night{
 background-image:url(../img/backgr_night.png);
 background-repeat : no-repeat;
 background-color : #2A3E7D;
 background-position : center top ;
 background-size : 75%;
}

body.morning{
 background-image:url(../img/backgr_morning.png);
 background-repeat : no-repeat;
 background-color : #5883E1;
 background-position : center top ;
 background-size : 75%;
}

body.sunrise{
 background-image:url(../img/backgr_sunrise.png);
 background-repeat : no-repeat;
 background-color : #D4A7A2;
 background-position : center top ;
 background-size : 75%;
}

body.sunset{
 background-image:url(../img/backgr_sunset.png);
 background-repeat : no-repeat;
 background-color : #783F38;
 background-position : center top ;
 background-size : 75%;
}

.name_class{
	width: 200px;
    padding: 10px;
    margin: auto;
}

.name_class ul{
	padding-left:0px;
	position:relative;
	top:-92px;
}

.name_class li{
	list-style-type:none;
}


.name_class>span:after{
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.name_class span{
	-webkit-user-select: none;
	-webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -ms-transition: all 0.2s linear 0s;	-o-transition: all 0.2s linear 0s;transition: all 0.2s linear 0s;
	margin: 15px; 0px; 15px; 0px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background:white;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
	z-index:1000;
}

.name_class  span.active:hover{
	color:#fff;
	background:#999;
}

.name_class ul>li>span{
	position:absolute;
	top: 0px;
	z-index:999;
}

.name_class 	.delay{
	-webkit-transition: all 1s linear 0s; -moz-transition: all 1s linear 0s; -ms-transition: all 1s linear 0s;	-o-transition: all 1s linear 0s;transition: all 1s linear 0s;
}


.up{
	width:50%;
	margin: auto;
	background:white;
	margin-top:-70px;
	height:0%;
	-webkit-user-select: none;
	-webkit-transition: all 0.5s linear 0s; -moz-transition: all 0.5s linear 0s; -ms-transition: all 0.5s linear 0s;	-o-transition: all 0.5s linear 0s;transition: all 0.5s linear 0s;
}

.down{
	padding:150px;
	height:100%;
}








